[submodule "CUDA-BEVFusion/bevfusion"]
	path = CUDA-BEVFusion/bevfusion
	url = https://github.com/WATonomous/wato-bevfusion.git
[submodule "dependencies/pybind11"]
	path = dependencies/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/nothings/stb.git
[submodule "dependencies/dlpack"]
	path = dependencies/dlpack
	url = https://github.com/dmlc/dlpack
[submodule "libraries/cuPCL"]
	path = libraries/cuPCL
	url = https://github.com/WATonomous/cuPCL
